### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

In [10]:
# File to Load (Remember to Change These)
school_csv_path = "Resources/schools_complete.csv"
student_csv_path = "Resources/students_complete.csv"

In [11]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_csv_path)
student_data = pd.read_csv(student_csv_path)

In [12]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])

## District Summary

In [16]:
# Calculate pass % for math
to_pass_math = student_data[student_data.math_score > 70]         # Criterion to pass math
math_pass = (to_pass_math['math_score'].count()/student_data['student_name'].count())*100           # Percentage of Students meeting that

# Calculate pass % for reading

to_pass_reading = student_data[student_data.reading_score > 70]   # Criterion to pass reading 
reading_pass = (to_pass_reading['reading_score'].count()/student_data['student_name'].count())*100  # Percentage of Students meeting that

# Create a dictionary of Key : Column and Row : Values 

Dist_df = {'Total Schools': [school_data['school_name'].count()], 
     'Total Students': [student_data['student_name'].count()], 
     'Total Budget':[school_data['budget'].sum()], 
     'Average Math score':[round (student_data['math_score'].mean(),2)], 
     'Average Reading score':[round (student_data['reading_score'].mean(),2)],
     '% Passing Math':[round (math_pass,2)],
     '% Passing Reading':[round (reading_pass, 2)],
     '% Overall Passing Rate':[ round((math_pass + reading_pass)/2, 2)]
    }

# Convert that to a dataframe
Dist_summary = pd.DataFrame(Dist_df)

# access all those cells using the dataframe.loc
Dist_summary = Dist_summary.loc[:,['Total Schools','Total Students','Total Budget','Average Math score',
                                       'Average Reading score','% Passing Math','% Passing Reading', '% Overall Passing Rate']]


# display! 
Dist_summary

,Total Schools,Total Students,Total Budget,Average Math score,Average Reading score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,72.39,82.97,77.68


## School Summary

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [6]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [7]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.